/* .navbar {
  align-items: center;
  display: flex;
  justify-content: center;
  border-bottom: "solid 1px";
  padding-bottom: 1rem;
  
} */

/* .homePage{
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
} */
/* .aboutPage {
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
} */
/* main {
  padding: 20px;
} */
/* .welcome{
  align-items: center;
  display: flex;
  justify-content: center;
} */

/* .faBeer{
  position: relative;
  font-size: 2.2rem;
  color: rgb(82, 124, 4);
 
}
.baged{
  position: absolute;
  top: -0px;
  right: -12px;
  background-color: crimson;
  border-radius: 50%;
  height: 1.3rem;
  width: 1.3rem;
  text-align: center;
  font-size: 1rem;
  color: rgb(255, 255, 255);
} */

.nav-item{
  font-size: 20px;
}

.nav-item .nav-link:hover{
  color: rgb(6, 54, 63);
}